// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#app 
tbody > th.done {
  text-decoration: line-through;
  background-color: #6d6d6d;
}


.mainbody {
  text-align: center;
  
  
}
table {
  text-align: center;

  padding-top: 20px;
  margin-top: 30px;
}

.tablelist {
  text-align: center;

}

.title, .mainbody {
  margin: auto;
  text-align: center;
}
.delete {
  margin-left: 10px;
  border: none;
}

.form {
  display: inline-flex;
  margin-top: 30px;
  .childform {
    margin-left: 15px;
  }
}
